.login-container h2 {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 600;
}

.login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-gray-text);
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-container p , a {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}